{{#if previews}}
    {{#each projects}}
        <div class="project">
            <a href="/projects/{{this.title}}/description">
                <p>{{this.title}}</p>
                <img src="/{{this.directory}}/screenshot.png">
            </a>
        </div>
    {{/each}}
{{else}}
    {{#each projects}}
        <div class="project">
            <a class={{focusCurrent this}} href="/projects/{{this.title}}/description">
                <p>{{this.title}}</p>
            </a>
        </div>
    {{/each}}
{{/if}}
